@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-light-brown: #7a5e44;
  --color-dark-brown: #4d3927;
  --color-light-gray: #1e1e1e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #262626 inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow:
    0 0 0 1000px #262626 inset,
    0 0 0 2px #f43f5e !important;
}
